# Logs
logs
*.log

# Dependencies
node_modules/

# Build output
dist/

# Tauri
src-tauri/target

# IDE
.vscode

# Sisyphus
.sisyphus/

# Tauri generated
src-tauri/gen

# Environment variables
.env

# Temporary icon files
*.py
11f5af05-*.png
icon_with_rounded_corners.png
59a09f22-104b-4c0b-9c46-f8186912c460.png
个人中心.png

.idea/
